// colors
$font_family: 'Roboto',
sans-serif;
$font_family2: 'Pacifico',
cursive;
$white : #ffffff;
$hoverIcon: #ff599a;
$boxShadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
$trans: all ease-out 0.25s;

// Resets 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: $font_family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.5px;
}

.box {
    padding: 12px 16px;
}

.sidebar {
    cursor: pointer;
    width: 15em;
    height: 100vh;
    background-color: $white;
    border-right: 2px solid $hoverIcon;
    transition: .7s;
    position: fixed;
    z-index: 99999;
    transition: $trans;
    transform: translateX(-16rem);

    .links {

        .nav-ul {
            display: flex;
            flex-direction: column;

            .nav-item {
                width: 100%;
                padding: 1rem 1rem 1rem 1rem;
                border-bottom: 2px solid $hoverIcon;

                &:nth-child(1) {
                    padding: 1rem 1rem 1rem .5rem;
                }
            }

            .logo {
                width: 80px;
                background-color: $white;
                border: 3px solid $hoverIcon;
                border-radius: 100%;

                img {
                    border-radius: 100%;
                    width: 100%;
                    height: 100%;
                }
            }


        }
    }

    &.is-closed {
        transform: translateX(0rem);
    }
}


//  STYLES // 
header {
    background-color: $white;

    // navbar ..
    .navbar {
        .container {
            border-bottom: 1px solid #e4e4e4;

            .upper-nav {
                width: 95%;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                padding-top: 16px;


                .links {
                    display: flex;
                    align-items: center;
                    width: 33%;
                    order: 1;

                    .nav-ul {
                        width: 100%;
                        display: flex;

                        .nav-item {
                            padding: 5px 10px;

                            .nav-link {
                                font-weight: 600;
                                font-size: 15px;
                                transition: $trans;
                            }

                            .link-active {
                                color: $hoverIcon;
                            }

                            &:hover {
                                .nav-link {
                                    color: $hoverIcon;
                                }
                            }
                        }
                    }
                }

                .logo-con {
                    background-color: $white;
                    width: 33%;
                    display: flex;
                    justify-content: center;
                    order: 2;
                    z-index: 9999;

                    .logo {
                        width: 150px;
                        background-color: $white;
                        border: 3px solid $hoverIcon;
                        border-radius: 100%;
                        padding: 5px;
                        margin-bottom: -4rem;
                        transition: $trans;
                        transform: scale(0.95);

                        img {
                            border-radius: 100%;
                            width: 100%;
                            height: 100%;
                        }

                        &:hover {
                            border: 3px solid $hoverIcon;
                            transform: scale(1);
                            transform: translateY(-0.5rem);
                            box-shadow: $boxShadow !important;
                        }
                    }
                }

                .icons {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    width: 33%;
                    order: 3;

                    .burger {
                        display: none;
                    }

                    .auth,
                    .bucket {
                        a {
                            cursor: pointer;

                            svg {
                                font-size: 1.7rem;
                                color: #000;
                                transition: all ease-out 0.25s;
                            }
                        }
                    }

                    .auth {
                        transform: translateX(-50%);

                        svg {
                            height: 40px;
                        }

                        &:hover {
                            svg {
                                color: $hoverIcon;
                            }
                        }
                    }

                    .bucket {
                        position: relative;

                        svg {
                            height: 40px;
                        }

                        .badge {
                            cursor: pointer;
                            position: absolute;
                            top: -5px;
                            transform: translateX(75%);
                            background-color: #000;
                            transition: all ease-out 0.25s;
                            color: $white;
                            border-radius: 100%;
                            width: 20px;
                            height: 20px;
                            text-align: center;

                            span {
                                font-size: 12px;
                            }
                        }

                        .bucket-dropdown {
                            position: absolute;
                            left: -324px;
                            top: 40px;
                            width: 350px;
                            z-index: 9999999;
                            display: none;

                            .buckit-items {
                                transition: $trans;
                                box-shadow: 0px 0px 30px 0 rgba(0, 0, 0, 0.15);
                                background-color: $white;
                                text-align: center;



                                .no-cart-itmes {
                                    padding: 15px 25px;
                                    display: inline-block;
                                }

                                .buckit-items-list {
                                    max-height: 300px;
                                    overflow-y: scroll;

                                    &::-webkit-scrollbar {
                                        width: 7px;
                                    }

                                    &::-webkit-scrollbar-track {
                                        background-color: $white;
                                        border-radius: 10px;
                                    }

                                    &::-webkit-scrollbar-thumb {
                                        border-radius: 10px;
                                        background: linear-gradient(90deg, #ee7560, #ff5858);
                                    }

                                    .list-item {
                                        display: flex;
                                        justify-content: space-between;
                                        border-bottom: 1px solid #f3f3f3;
                                        margin-bottom: 15px;
                                        padding: 15px 25px;

                                        .item-img {
                                            width: 70px;

                                            img {
                                                width: 100%;
                                                height: 100%;
                                            }
                                        }

                                        .item-name {
                                            a {
                                                p {
                                                    span {
                                                        line-height: 2;
                                                    }

                                                    transition: $trans;
                                                }

                                                &:hover {
                                                    p {
                                                        color: $hoverIcon;
                                                    }
                                                }
                                            }

                                        }

                                        .item-dlt {
                                            a {
                                                display: flex;

                                                .fa-times-circle {
                                                    height: 100%;
                                                    font-size: 20px;
                                                }

                                                &:hover {
                                                    .fa-times-circle {
                                                        color: $hoverIcon;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                // footer buckit
                                .cart-footer {

                                    .sub-total {
                                        display: flex;
                                        justify-content: space-between;
                                        padding: 1rem 1.5rem;

                                        .sub-total-text,
                                        .amount-text {
                                            font-size: 13px;
                                            color: #5e6977;
                                        }
                                    }

                                    .view-bag {
                                        text-align: center;
                                        transition: $trans;

                                        a {
                                            color: $white;
                                            padding: 1.4rem 1rem;
                                            width: 100%;
                                            height: 100%;
                                            display: inline-block;
                                            background-image: linear-gradient(90deg, #ee7560, #ff5858);
                                            transition: $trans;
                                        }

                                        &:hover {
                                            box-shadow: 0 6px 15px 0 rgba(36, 36, 38, 0.15);
                                        }
                                    }
                                }
                            }
                        }

                        &:hover {

                            .fa-shopping-bag,
                            .fa-user {
                                color: $hoverIcon;
                            }

                            .badge {
                                color: $white;
                                background-color: $hoverIcon;
                            }

                            .bucket-dropdown {
                                display: block;
                                animation: in_out linear .4s alternate;
                            }
                        }


                    }
                }
            }
        }
    }

    // caroulse
    .swiper-container {
        width: 100%;
        // height: 600px;

        .swiper-wrapper {
            height: 100%;

            .swiper-slide {
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                .slider-heading-left,
                .slider-heading-right {
                    text-align: center;
                    line-height: 1.4;

                    h5 {
                        display: inline-block;
                        font-size: 42px;
                        color: #ffffff;
                    }

                    h2 {
                        font-size: 45px;
                        color: #ff9662;
                    }

                    h4 {
                        font-size: 40px;
                        color: #e0d300;
                        font-weight: 400;

                        span {
                            font-size: 60px;
                        }
                    }

                    a {
                        background: #ffffff;
                        color: #e76524;
                        cursor: pointer;
                        border-radius: 30px;
                        line-height: 1.7;
                        font-weight: bold;
                        letter-spacing: 2px;
                        border: none;
                        transition: all 0.4s ease-in-out;
                        outline: none;
                        font-size: 18px;
                        padding: 8px 20px;
                        display: inline-block;

                        &:hover {
                            color: #ffffff;
                            background-color: #e76524;
                        }
                    }
                }

                .slider-heading-left {
                    position: absolute;
                    top: 0;
                    top: 50%;
                    left: 25%;
                    transform: translate(-50%, -50%);
                }

                .slider-heading-right {
                    position: absolute;
                    top: 0;
                    right: 0;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }

            }

        }

        // controlers
        .swiper-button-prev,
        .swiper-button-next {
            background: none;
            width: 50px;
            display: none;

            svg {
                color: $hoverIcon;
                width: 100%;
                font-size: 3rem;
            }
        }

        .swiper-button-next {
            right: 50px;
        }

        .swiper-button-prev {
            left: 50px;
        }

        &:hover {

            .swiper-button-prev,
            .swiper-button-next {
                display: block;
                animation: in_out linear .4s alternate;
            }
        }
    }
}

// Best selling Products ...

.Best-Selling-Products {
    .heading {
        text-align: center;

        h5 {
            font-size: 25px;
            font-family: Great Vibes;
            margin-bottom: 5px;
        }

        h2 {
            color: $hoverIcon;
            font-family: $font_family2;
            font-size: 40px;
        }
    }

    // card
    .product-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 30px;

        &:last-child {
            justify-content: flex-start;
        }

        .col {
            .card {
                margin: 10px 16px;
                width: 100%;
                position: relative;


                .card-top {
                    border: 1px solid #f8f8f8;
                    border-bottom: 0;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    width: 300px;
                    margin: 0 auto;
                    overflow: hidden;
                    position: relative;

                    .display-img {
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                        transform: translateX(0%);
                    }

                    span {
                        position: absolute;
                        transform: translateX(100%);

                        img {
                            width: 100%;
                            height: 100%;
                            cursor: pointer;
                        }
                    }

                    &:hover {
                        span {
                            transform: translateX(0);
                            animation: slide_left 0.5s both;
                        }

                        .display-img {
                            transform: translateX(-100%);
                            animation: slide_right 0.5s both;
                        }
                    }
                }

                .card-body {
                    border: 1px solid #f8f8f8;
                    border-top: 0;
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                    width: 300px;
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 20px 0 20px 0;

                    .card-link {
                        a {
                            color: #000000;
                            display: inline-block;
                            width: 100%;
                            margin: 0px 0 10px;
                            line-height: normal;
                            transition: $trans;

                            &:hover {
                                color: $hoverIcon;
                            }
                        }
                    }

                    .card-price {
                        margin: 0px 0 22px;

                        p {
                            font-size: 20px;
                            line-height: normal;
                            font-weight: normal;
                            color: #000000;
                        }
                    }

                    .add-to-cart {
                        .btn {
                            margin-top: 10px;
                            font-size: 14px;
                            text-transform: capitalize;
                            padding: 10px 25px;
                            opacity: 1;
                            width: auto;
                            height: auto;
                            line-height: 1.7;
                            position: relative;
                            top: 0;
                            transition: $trans;
                            border-radius: 30px;
                            border: 2px solid #ffe450;
                            color: #000;
                            background-color: #ffffff;


                        }

                        &:hover {
                            .btn {
                                background-color: $hoverIcon;
                                color: #ffffff;
                                border-color: $hoverIcon;
                            }
                        }
                    }
                }
            }
        }


    }
}

// ADD & REMOVE ANIMATION ON HOVER 
.slide_img_right {
    animation: slide_right_out 0.5s both;
}

.slide_img_left {
    animation: slide_left_out 0.5s both;
}

// keyframs 
@keyframes in_out {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes slide_left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slide_right {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

// after mouse leave
@keyframes slide_left_out {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes slide_right_out {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

// new_products //

.new_products {
    .box {
        .heading {
            text-align: center;
            font-weight: 700;
            margin-top: 0;
            margin-bottom: 0;
            line-height: 100%;
        }

        .tm-table {
            display: table;
            padding-top: 35px;
            margin: auto;
            display: flex;
            justify-content: center;

            .line.table-cell {
                width: 50px;
                border-top: 1px solid #dddddd;
                margin: 10px 10px 0 10px;
            }
        }

        .product-container {
            margin-top: 18px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .col {
                width: 293px;

                .card {
                    border: 1px solid #dddddd;
                    text-align: center;
                    margin: 15px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                    border-radius: 5px;
                    font-family: Roboto Slab;

                    .card-top {
                        border-radius: 5px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .card-body {
                        .card-link {
                            display: block;
                            color: #5e3c3e;
                            margin-top: 20px;
                            margin-bottom: 15px;
                            padding: 0 30px;
                            font-size: 16px;
                        }

                        .card-price {
                            margin-bottom: 25px;

                            p {
                                color: #e47277;
                                font-weight: 700;
                                font-size: 16px;
                            }
                        }

                        .add-to-cart {
                            a {
                                position: relative;
                                background: #ffffff;
                                color: #e47277;
                                font-size: 12px;
                                text-transform: uppercase;
                                padding: 13px 20px;
                                -webkit-border-radius: 5px;
                                -moz-border-radius: 5px;
                                -ms-border-radius: 5px;
                                -o-border-radius: 5px;
                                border-radius: 5px;
                                border: 1px solid #dddddd;
                                font-weight: 700;
                                transition: $trans;
                            }

                            &:hover {
                                a {
                                    border-color: #e47277;
                                    background: #e47277;
                                    color: #ffffff;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}

// about us
.about-us {
    margin: 70px;

    .container {
        padding: 12px 16px;
        display: flex;
        flex-wrap: wrap;

        .col-md-6 {
            width: 50%;
            display: flex;
            align-items: center;

            .vu_c-wrapper {
                padding: 0 16px;

                .vc_align_right {
                    .wpb_wrapper {
                        margin-bottom: 20px;

                        .m-b-20 {
                            margin-bottom: 20px;
                            color: $hoverIcon;
                            font-size: 25px;
                        }

                        p {
                            line-height: 1.3;
                            font-size: 15px;
                        }
                    }
                }

                .vc_align_left {
                    position: relative;

                    figure {
                        img {
                            background-position: center;
                            background-size: cover;
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .img-overlay {
                        position: absolute;
                        top: 35px;
                        left: 35px;
                        transform: rotate(-50deg);

                        img {
                            width: 170px;
                            height: 170px;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
}

// contact us

.contact-us {
    position: relative;

    #map {
        height: 525px;
        width: 100%;
    }

    .contact-form {
        width: 25%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 10%;
        z-index: 999;
        padding-top: 30px !important;
        padding-right: 30px !important;
        padding-bottom: 30px !important;
        padding-left: 30px !important;
        background-color: rgba(104, 79, 64, 0.9) !important;

        .form-heading {
            margin-bottom: 30px;

            .wpb_wrapper {
                text-align: center;

                h3 {
                    color: white;
                    margin-bottom: 10px;
                }

                p {
                    color: white;
                    font-size: 13px;
                }
            }
        }

        .form-container {
            form {
                .row {
                    margin-bottom: 15px !important;
                    padding-left: 15px;
                    padding-right: 15px;

                    input {
                        width: 100%;
                        padding-left: 10px;
                        margin-bottom: 5px !important;
                        margin-top: 0;
                        font-family: inherit;
                        font-weight: normal;
                        font-size: 14px;
                        color: #696969;
                        height: 42px;
                        box-shadow: none;
                        outline: 0;
                        border: 1px solid #e1e1e1;
                        border-radius: 0px;
                        background-color: rgba(255, 255, 255, 0.9);
                        -webkit-transition: all 0.4s ease-out;
                        -moz-transition: all 0.4s ease-out;
                        -o-transition: all 0.4s ease-out;
                        transition: all 0.4s ease-out;
                        display: block;
                    }

                    textarea {
                        width: 100%;
                        padding: 12px !important;
                        height: auto;
                        font-family: inherit;
                        font-weight: normal;
                        font-size: 14px;
                        display: block;
                        box-shadow: none;
                        outline: 0;
                        border: 1px solid #e1e1e1;
                        border-radius: 0px;
                        background-color: rgba(255, 255, 255, 0.9);
                        -webkit-transition: all 0.4s ease-out;
                        -moz-transition: all 0.4s ease-out;
                        -o-transition: all 0.4s ease-out;
                        transition: all 0.4s ease-out;
                    }

                    .btn {
                        color: #ffff;
                        border-color: #fdb822;
                        background-color: #fdb822;
                        font-size: 14px;
                        font-weight: 500;
                        padding: 12px 25px;
                        transition: all 0.3s ease-in-out !important;
                        cursor: pointer;

                        &:hover {
                            color: #fdb822;
                            background-color: transparent;
                        }
                    }

                }
            }
        }
    }
}

// footer 

.site-footer {
    background-color: #28292b;

    .box {
        padding-top: 60px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 76%;

        .col-md-3 {
            width: 33.33%;
            align-self: auto;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;

            .vu_c-wrapper {
                .wpb_text_column {
                    margin-bottom: 30px;

                    .wpb_wrapper {
                        h3 {
                            margin-bottom: 15px;
                            font-size: 16px;
                        }
                    }
                }

                .vu_social-networks {
                    .vu_sn-container {
                        display: flex;

                        .vu_social-icon {
                            display: inline-block;
                            margin: 0 10px 10px 0;

                            &:nth-last-child() {
                                margin-right: 0;
                            }

                            a {
                                position: relative;
                                z-index: 1;
                                display: block;
                                width: 42px;
                                height: 42px;
                                line-height: 42px;
                                font-size: 18px;
                                color: #fff;
                                text-align: center;
                                text-decoration: none;
                                border-radius: 50%;
                                background-color: #fdb822;
                                transition: all 0.45s ease-in-out;

                                &:hover {
                                    color: #fff;
                                    background-color: #684f40;
                                }

                                svg {
                                    display: inline-block;
                                    font: normal normal normal 14px/1 FontAwesome;
                                    font-size: inherit;
                                    text-rendering: auto;
                                }
                            }
                        }
                    }
                }

                .vu_l-gallery {
                    display: flex;
                    flex-wrap: wrap;

                    .vu_gw-item {
                        padding: 7px 7px 0 0;

                        a {

                            img {
                                width: 60px;
                                height: 60px;
                            }
                        }
                    }
                }

                .wpb_content_element {
                    .wpb_wrapper {
                        .vu_working-hours {
                            .vu_wh-item {
                                display: flex;
                                justify-content: space-between;

                                .vu_wh-day,
                                .vu_wh-hours {
                                    color: #fdb822;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }

            }
        }
    }

    .powered {
        background-color: #303133;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px 0 24px 0;

        .copyright {
            color: #66686a;
            font-size: 14px;
        }
    }
}

// back to top 
.back-to-top {
    background: rgba(228, 114, 119, 0.8);
    bottom: 15px;
    z-index: 998;
    position: fixed;
    right: 40px;
    color: #ffffff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    opacity: 0.8;

    svg {
        margin-top: 5px;
        font-size: 20px;
        font-family: 'FontAwesome';
    }
}

// add or remove respect to the pagy y posetion in px.
.hide {
    bottom: -100px;
}

// Auth 
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    min-height: 500px;

    .auth {
        width: 350px;

        h2 {
            margin-bottom: 20px;
            font-size: 33px;
            color: $hoverIcon;
        }

        .bottom-text {
            font-size: 13px;
            color: $hoverIcon;

            a {
                cursor: pointer;
                font-size: 13px;
                font-weight: 550;
                color: #909090;
            }
        }


        .row {
            margin-bottom: 15px !important;
            position: relative;

            label {
                font-size: 15px;
                color: #909090;
                margin-bottom: 5px;
                display: inline-block;
            }

            input {
                width: 100%;
                padding-left: 10px;
                margin-bottom: 5px !important;
                margin-top: 0;
                font-family: inherit;
                font-weight: normal;
                font-size: 14px;
                color: #696969;
                height: 42px;
                box-shadow: none;
                outline: 0;
                border: 1px solid #e1e1e1;
                border-radius: 0px;
                background-color: rgba(255, 255, 255, 0.9);
                -webkit-transition: all 0.4s ease-out;
                -moz-transition: all 0.4s ease-out;
                -o-transition: all 0.4s ease-out;
                transition: all 0.4s ease-out;
                display: block;
            }

            .btn {
                color: #ffff;
                border-color: #fdb822;
                background-color: #fdb822;
                font-size: 14px;
                font-weight: 500;
                padding: 12px 25px;
                transition: all 0.3s ease-in-out !important;
                cursor: pointer;

                &:hover {
                    color: #fdb822;
                    background-color: transparent;
                }
            }
        }
    }
}

//  ===== For Small Devices ===== //
@media (max-width: 575.98px) {}

@media (max-width: 767.98px) {
    header {

        // navbar ..
        .navbar {
            .container {
                .upper-nav {


                    .links {
                        display: none;
                    }

                    .logo-con {
                        order: 1;
                        justify-content: flex-start;

                        .logo {
                            width: 100px;
                            padding: 5px;
                            margin-bottom: 0;
                        }
                    }

                    .icons {

                        .auth,
                        .bucket {
                            display: none;
                        }

                        .burger {
                            display: block;
                            padding-right: 5px;

                            a {
                                svg {
                                    font-size: 25px;
                                }
                            }
                        }
                    }
                }
            }
        }

        // caroulse
        .swiper-container {


            .swiper-wrapper {

                .swiper-slide {


                    img {
                        width: 100%;
                        height: 100%;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    .slider-heading-left,
                    .slider-heading-right {
                        text-align: center;
                        line-height: 1.4;

                        h5 {
                            display: inline-block;
                            font-size: 22px;
                            color: #ffffff;
                        }

                        h2 {
                            font-size: 20px;
                            color: #ff9662;
                        }

                        h4 {
                            font-size: 20px;
                            color: #e0d300;
                            font-weight: 400;

                            span {
                                font-size: 20px;
                            }
                        }

                        a {
                            display: none !important;
                        }
                    }

                    .slider-heading-left {
                        position: absolute;
                        top: 0;
                        top: 50%;
                        left: 25%;
                        transform: translate(-25%, -50%);
                    }

                    .slider-heading-right {
                        position: absolute;
                        right: 0%;
                        top: 50%;
                        transform: translate(-25%, -50%);
                    }

                }

            }

            // controlers
            .swiper-button-prev,
            .swiper-button-next {
                display: none !important;
            }
        }
    }

    .Best-Selling-Products {
        .heading {

            h5 {
                font-size: 22px;
            }

            h2 {
                font-size: 32px;
            }
        }

        // card
        .product-container {
            justify-content: center;

            .col {
                width: 50%;

                .card {
                    padding: 6px;
                    width: 100%;
                    margin: 0;

                    .card-top {
                        width: 100%;
                    }

                    .card-body {
                        width: 100%;

                        .card-link {
                            a {
                                width: 100%;
                            }
                        }

                        .card-price {
                            p {
                                font-size: 15px;
                            }
                        }

                        .add-to-cart {
                            .btn {
                                font-size: 13px;

                                padding: 8px 15px;

                            }

                        }
                    }
                }
            }


        }
    }

    .new_products {
        .box {

            .product-container {
                .col {
                    width: 50%;

                    .card {
                        margin: 10px;

                        .card-body {
                            .card-link {
                                font-size: 13px;
                            }

                            .card-price {
                                margin-bottom: 25px;

                                p {
                                    color: #e47277;
                                    font-weight: 700;
                                    font-size: 16px;
                                }
                            }

                            .add-to-cart {
                                a {
                                    font-size: 11px;
                                }


                            }
                        }
                    }
                }
            }

        }
    }

    // about us
    .about-us {
        margin: 10px;

        .container {

            .col-md-6 {
                width: 100%;
                justify-content: center;

                .vu_c-wrapper {

                    .vc_align_right {
                        margin-top: 20px;

                        .wpb_wrapper {
                            .m-b-20 {
                                margin-bottom: 5px;
                                color: #000;
                                font-size: 19px;
                            }

                            p {
                                text-align: justify;
                                font-size: 13px;
                            }
                        }
                    }

                    .vc_align_left {

                        figure {
                            display: none;
                        }

                        .img-overlay {
                            position: static;
                            transform: rotate(0deg);

                            img {
                                display: none;
                            }

                            &::after {
                                content: "About us";
                                font-size: 35px;
                                font-weight: 550;
                                display: block;
                                color: $hoverIcon;
                            }
                        }
                    }
                }
            }
        }
    }

    .contact-us {

        #map {
            display: none;
        }

        .contact-form {
            width: 100%;
            position: static;
            background-color: rgba(104, 79, 64, 0.9) !important;
        }
    }



    .site-footer {
        .box {
            width: 100%;

            .col-md-3 {
                width: 100%;
                margin-top: 10px;

                .vu_c-wrapper {
                    .wpb_text_column {
                        margin-bottom: 15px;

                        .wpb_wrapper {
                            text-align: center;

                            h3 {
                                margin-bottom: 6px;
                                font-size: 22px;
                            }

                            p {
                                font-size: 13px;
                            }
                        }
                    }

                    .vu_social-networks {
                        .vu_sn-container {
                            justify-content: center;

                            .vu_social-icon {
                                display: inline-block;
                                margin: 0 10px 10px 0;

                            }
                        }
                    }

                    .vu_l-gallery {
                        justify-content: center;

                        .vu_gw-item {
                            padding: 7px 7px 0 0;

                            a {

                                img {
                                    width: 60px;
                                    height: 60px;
                                }
                            }
                        }
                    }

                    .wpb_content_element {
                        .wpb_wrapper {
                            .vu_working-hours {
                                .vu_wh-item {
                                    display: flex;
                                    justify-content: space-between;

                                    .vu_wh-day,
                                    .vu_wh-hours {
                                        color: #fdb822;
                                        font-weight: 600;
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }

        .powered {
            background-color: #303133;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 24px 0 24px 0;

            .copyright {
                color: #66686a;
                font-size: 14px;
            }
        }
    }

}

// Large devices (desktops, 992px and up)
@media (min-width: 767.98px) {
    .sidebar {
        display: none;
    }
}

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {}